/* TASK - React 1 week 1 */

.section {
  padding: 2rem;
}

.heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 1.5rem;
}

.item {
  border-left: 4px solid #4f46e5;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.title {
  margin: 0 0 0.5rem;
  font-size: 1.25rem;
}

.description {
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;

  text-indent: 1.5em;
}
